
# SPDX-License-Identifier: GPL-2.0-or-later

#
# Configuration script for Arm CoreLink SSE-200 Subsystem based IoT SoCs.
#
bindto 0.0.0.0
global TARGET
#set TARGET $_CHIPNAME
echo "****************************"
transport select swd
adapter speed 4000
adapter srst delay 100
adapter srst pulse_width 900
reset_config srst_only 


if { [info exists CHIPNAME] } {
   set _CHIPNAME $CHIPNAME
} else {
   set _CHIPNAME inno_t3a
}
set TARGET $_CHIPNAME.cpu
echo "Target: "$TARGET
# Work-area is a space in RAM used for flash programming
# By default use 2kB
if { [info exists WORKAREASIZE] } {
   set _WORKAREASIZE $WORKAREASIZE
} else {
   set _WORKAREASIZE 0x800
}

if { [info exists CPUTAPID] } {
   set _CPUTAPID $CPUTAPID
} else {
   if { [using_jtag] } {
      set _CPUTAPID 0x4ba00477
   } {
      set _CPUTAPID 0x2ba01477
   }
}


proc setup_psram_xip_window {} {
   echo "Setup PSRAM XIP"
# Clock Configuration 
mww 0x40052004 0x1000001
mww 0x40052008 3
mww 0x400520FC 1

#reset enable
mww 0x40052024 0x107
mww 0x40052030 0x0
mww 0x40052034 0xD0117
mww 0x40052038 0x2
mww 0x40052040 0x1000117
mww 0x40052054 0x100
mww 0x40052068 0x0
mww 0x4005206C 0x10000
mww 0x40052020 0x6600

#reset
mww 0x40052024 0x107
mww 0x40052030 0x0
mww 0x40052034 0xD0117
mww 0x40052038 0x2
mww 0x40052040 0x1000117
mww 0x40052054 0x100
mww 0x40052068 0x0
mww 0x4005206C 0x10000
mww 0x40052020 0x9900

# Enable Quad mode in PSRAM
mww 0x40052024 0x107
mww 0x40052030 0x0
mww 0x40052034 0xD0117
mww 0x40052038 0x2
mww 0x40052040 0x1000117
mww 0x40052054 0x100
mww 0x40052068 0x0
mww 0x4005206C 0x10000
mww 0x40052020 0x3500

# XIP/AIP window0 Configurations (offset 0x280-0x2DF) 
mww 0x40052284 0x1f
mww 0x40052288 0x007FFFFF
mww 0x4005228C 0x03000000
mww 0x40052290 0x3800EB00
mww 0x40052294 0x4401
mww 0x40052298 0x001F0000
mww 0x400522A0 0

mww 0x400522A4 0x00000400
mww 0x400522A8 0x02
mww 0x400522B0 0x01000005
mww 0x400522B4 0x0
mww 0x400522B8 0x0
mww 0x400522BC 0x0
 
mww 0x400522C0 0x04
mww 0x400522C4 0x0
mww 0x400522C8 0x0
mww 0x400522D0 0
mww 0x400522D4 0x00010107
mww 0x400522D8 0x00000401
 
# Update registers and enable XIP mode 
mww 0x40052280 0x201
}

swd newdap $_CHIPNAME cpu -irlen 4 -ircapture 0x1 -irmask 0xf -expected-id $_CPUTAPID
#swd newdap $_CHIPNAME cpu -irlen 4 -expected-id $_CPUTAPID
dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu

#
# SRAM on ARM CoreLink SSE-200 can be 4 banks of 8/16/32/64 KB
# We will configure work area assuming 8-KB bank size in SRAM bank 1.
# Also SRAM start addresses defaults to secure mode alias.
# These values can be overridden as per board configuration
#

global _WORKAREASIZE_CPU0
if { [info exists WORKAREASIZE_CPU0] } {
	set _WORKAREASIZE_CPU0 $WORKAREASIZE_CPU0
} else {
	set _WORKAREASIZE_CPU0 0x1000
}

global _WORKAREAADDR_CPU0
if { [info exists WORKAREAADDR_CPU0] } {
	set _WORKAREAADDR_CPU0 $WORKAREAADDR_CPU0
} else {
	set _WORKAREAADDR_CPU0 0x20008000
}


target create ${TARGET}.CPU0 cortex_m -dap $_CHIPNAME.dap -ap-num 0 -coreid 0

${TARGET}.CPU0 configure -work-area-phys $_WORKAREAADDR_CPU0 -work-area-size $_WORKAREASIZE_CPU0 -work-area-backup 0


echo "****************************"
${TARGET}.CPU0 cortex_m reset_config sysresetreq {
echo "target done"
}

${TARGET}.CPU0 configure -event reset-end {
echo "reset-end"
}

${TARGET}.CPU0 configure -event reset-assert-pre {
echo "reset-assert-pre"
exec python3 ./scripts/reset.py
}

${TARGET}.CPU0 configure -event reset-deassert-pre {
echo "reset-deassert"
}

${TARGET}.CPU0 configure -event reset-init {
echo "reset-init"
setup_psram_xip_window
}

${TARGET}.CPU0 configure -event halted {

}

${TARGET}.CPU0 configure -event gdb-flash-erase-start {

}

${TARGET}.CPU0 configure -event gdb-flash-write-end {

}

${TARGET}.CPU0 configure -event gdb-start {
#echo "GDB-Start"
#mww 0x40052294 0x401
#mww 0x40052280 0x201
}

# Make sure the default target is the boot core
targets ${TARGET}.CPU0
